.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .libelle{
    color:black;
    font-size:25px;
    font-weight: bold;
    margin-right:50px;
  }
  h1{
    margin-top:20px;
    margin-bottom:50px;
    text-align: center;
  }
  .recap{
    color:black;
    font-size:25px;
    text-align:left;
  }